<div class="book-card-container" [class.flipped]="flipped" (click)="flip(!flipped)">
  <div class="book-card">
    <div class="book-card-front glass">
      <img [src]="book.cover || book.image || '/assets/default-cover.png'" alt="Book cover" class="book-cover" />
      <div class="book-title">{{ book.title }}</div>
      <div class="book-author">by {{ book.author }}</div>
      <button mat-raised-button color="primary" class="add-to-cart-btn" (click)="addToCart($event); $event.stopPropagation()">
        <span>Add to Cart</span>
      </button>
    </div>
    <div class="book-card-back glass">
      <div class="book-description">{{ book.description }}</div>
      <div class="book-meta">
        <span>Genre: {{ book.genre }}</span><br />
        <span>Year: {{ book.year }}</span>
      </div>
    </div>
  </div>
  <canvas class="confetti-canvas" #confettiCanvas></canvas>
</div>
